url,note
https://www.youtube.com/watch?v=XXXXXXXXXXX,competitor hook to study
https://www.youtube.com/watch?v=YYYYYYYYYYY,viral video in my niche
https://www.loom.com/share/ZZZZZZZZZZZZZZZZZ,internal QA recording
